<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-warning"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>
<br />
<div class="row">
  <div class="mb-3">
    <input
      type="text"
      [(ngModel)]="filterText"
      class="form-control"
      id="filterText"
      placeholder="Search vehicle"
    />
  </div>
  <div *ngIf="filterText" class="alert alert-info">
    <b>Searching For:</b> {{ filterText }}
  </div>
  <div
    *ngFor="let car of cars | filter: filterText"
    class="card col-md-4"
    style="width: 14rem; height: auto; margin: 5px"
  >
    <img [src]="SetImage(car)" class="card-img-top" alt="carimg" />
    <div class="card-body">
      <h5 class="card-title">{{ car.description }}</h5>
      <p class="card-text">
        {{ car.brandName | uppercase }} | {{ car.modelYear }}
      </p>
      <p class="card-text">
        {{ car.dailyPrice }} ₺ | <span class="fst-italic">KDV dahil:</span>
        {{ car.modelYear | vatAdded: 18 }} ₺
      </p>
      <a (click)="addToCart(car)" class="btn btn-success float-end ms-2">
        Kirala
      </a>
      <a href="car/detail/{{ car.id }}" class="btn btn-info float-end">Detay</a>
    </div>
  </div>
</div>
